body {
    font-family: Arial, sans-serif;
    background-color: #e6f4ec;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1b5e20;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    max-width: 900px;
    padding: 0 20px;
    box-sizing: border-box;
}

.card {
    background-color: #ffffff;
    border: 2px solid #81c784;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

.card p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

#linha-header {
    margin-top: 5vh;
    border: none;
    border-top: 2px solid #7dc981;
    width: 100%;
}

#linha-grupo {
    margin-top: 5vh;
    border: none;
    border-top: 2px solid #7dc981;
    width: 60%;
}

.texto-sobre-unipar {
    display: flex;
    padding-left: 25vh;
    padding-right: 25vh;
    font-size: 18px;
    color: #333333c9;
    line-height: 1.5;
    text-shadow: 0 4px 8px #ffffffbb;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
}

#imagem-logo-unipar {
    margin-top: 15vh;
    width: 50%;
    height: auto;
}

.titulo-unipar {
    text-align: center;
    margin: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    display: flex;
    margin-top: 15vh;
}

.montserrat-uniquifier {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* Media Query para dispositivos até 768px (tablets) */
@media screen and (max-width: 768px) {

    body {
        font-size: 16px;
    }

    header {
        font-size: 20px;
        padding: 15px;
    }

    .texto-sobre-unipar {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        text-align: center;
        padding-top: 10px;
        margin-top: 10vh;
    }

    #imagem-logo-unipar {
        margin-top: 10vh;
        width: 70%;
    }

    #linha-grupo {
        width: 80%;
        margin-top: 3vh;
    }

    .titulo-unipar h1 {
        font-size: 22px;
    }

    .card {
        padding: 20px;
        box-sizing: border-box;
    }

    #linha-header {
        margin-top: 3vh;
    }

    main {
        margin: 20px auto;
        max-width: 100%;
        padding: 0 10px;
    }
}
